# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
*.tox/
.nox/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyCharm
.idea/
*.iml

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
